<a class="twitter-timeline" 
   data-chrome="noheader noscrollbar" 
   href="https://twitter.com/VLine" 
   data-widget-id="589654361480892416">Loading Tweets by @VLine</a>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>