<meta http-equiv="refresh" content="180" />

<div class="row">
  <div class="col-md-6">
    <h3>VLine Twitter Feed</h3>
      <%= render 'twitter_feed' %>
  </div>
  <div class="col-md-6" >
    <% if @vline_current_disruption.count > 0 %>
      <h3><%= @vline_current_disruption.count %> Current VLine Disruptions</h3>
        <ul>
            <% @vline_current_disruption.each do |p| %>
              <li>
                <h4><%= p.text %></h4>
              </li>
            <% end %>
        </ul>
    <% end %>    
    
    <% if @vline_upcoming_disruption.count > 0 %>
      <h3><%= @vline_upcoming_disruption.count %> Upcoming VLine Disruptions</h3>
        <ul>
            <% @vline_upcoming_disruption.each do |u| %>
              <li>
                <h4><%= u.text %></h4>
              </li>
          <% end %>
        </ul>
    <% end %>
    
    <% if @posts.count > 0 %>
    <h3>Other Information</h3>
      <ul>
        <% @posts.each do |p| %>
          <li>
            <h4><%= p.content %></h4>
          </li>
        <% end %>
      </ul>
    <% end %>
    
  </div>
</div>