THis is dash 2
<ul>
    <% @disruptions.each do |d| %>
        <li><%= d %></li>
    <% end %>
</ul>

<%= @total_elements_count %>
<%= @regional_trains_location %>

<% if @vline_current_disruption.count > 0 %>
      <h3><%= @vline_current_disruption.count %> Current VLine Disruptions</h3>
        <ul>
            <% @vline_current_disruption.each do |p| %>
              <li>
                <h4><%= p.text %></h4>
              </li>
            <% end %>
        </ul>
    <% end %>    
    
    <% if @vline_upcoming_disruption.count > 0 %>
      <h3><%= @vline_upcoming_disruption.count %> Upcoming VLine Disruptions</h3>
        <ul>
            <% @vline_upcoming_disruption.each do |u| %>
              <li>
                <h4><%= u.text %></h4>
              </li>
          <% end %>
        </ul>
    <% end %>
