<% require 'nokogiri' %>
<% require 'open-uri' %>

<% page = Nokogiri::HTML(open('http://www.ptv.vic.gov.au/live-travel-updates')) %>
<% vline_disruption = page.css(".article-grey-gradient:nth-child(4) .disruptionArticleLink") %>
<% mode = page.css(".article-grey-gradient:nth-child(4)").text %>
<%= mode %>


<h1> Test Dash </h1>

<h1>Non Loop</h1>

<%= page.at_css("li").text %>

<h1>Loop</h1>

<table>

  <% vline_disruption.each do |p| %>
<tr><td>
<%= p.text %>
  </tr></td>
<% end %>

