<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<br>
<p><strong>
<%= link_to 'Create a New Post', new_post_path, :class => "btn btn-default btn-lg" %>
</p>
<br>
<br></strong>

<ul>
  <li>Delete items when they are no longer relevant.</li>
  <li>If there are no items, the 'Other Information' section will not display on the dash.</li>
  <li>Check the dash <%= link_to "HERE", root_path %> to see what the post looks like.</li>
</ul>
<p>
<%= link_to "Log Out", destroy_user_session_path, method: :delete, :class => "btn btn-default btn-lg" %>
</p>


