<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("ptv.png", height:"20px"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-center">
        <li><a href=""><strong>Geelong Dash</strong></a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href=""><strong>Updated at: </strong><%= DateTime.current.in_time_zone("Melbourne") %></a></li>        
      </ul>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>